@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 @import url('https://fonts.cdnfonts.com/css/miama');
                

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.bg-color{
    background-color: black;
}
body{
    /* max-width: 1440px; */
    margin: 0 auto;
    
}
.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    color:white;
    padding:10px 5px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width:180px;
    margin-top: 20px;

}
.btn-secondary{
    background:none;
    border-radius: 42px;
    color:white;
    padding:10px 5px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid white;
    width:180px;
    margin-left: 15px;
    margin-top: 20px;
}
header{
    width: 1200px;
margin: 0 auto;
  
}

/* navbar styles */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-item{
    list-style: none;
    margin-right:30px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu-bar{
    display: none;
} 

.brand{
    color: rgb(230, 83, 60);
font-size: 2rem;
font-weight: 800;
font-style: italic;
}
.nav-btn{
background: rgb(230, 83, 60);
border-radius: 46px;
width: 92px;
height: 30px;
text-align: center;
padding-top: 10px;
font-weight: 600;

}
.border-box{
 border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 39px;
width: 380px;
height: 46px;

}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width:520px;
}
.banner-title{
    color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 900;
margin-bottom: 0px;
line-height:75px;

}
#shape{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 400;
}
.banner-des{
    font-size: 1rem;
    font-weight: 400;
    color:rgba(255, 255, 255,0.5);
    margin-top: 40px;
}
.banner-btn{
    width: 206px;
height: 90px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;
display: flex;
justify-content: space-around;
margin-left: -100px;
    margin-top: -150px;
    padding: 20px 10px;
    align-items: center;
}
.video-no{
    color:white;
    font-size: 24px;
font-weight: 900;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
}
.banner-btn2{
    width:180px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    position: relative;
    bottom:390px;
    left:200px;
    
}
.video-no2{
    color: rgb(255, 255, 255);
font-size: 40px;
font-weight: 900;
}

/* main styles */
 /* section{
    margin-top: 100px;
} */
.section-title{
    color:white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0px;
}
.section-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 20px;
    line-height: 24px;
   
}

/* habit section */
.habits{
    width: 1044px;
/* height: 500px; */
margin: 0 auto;
margin-bottom: 100px;
}
.habit-info{
    text-align: center;
}
.habit-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
.habit-cards img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.card-title{
    color:white;
    font-size: 1rem;
font-weight: 600;
}
.card-des{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
}
.card{
    text-align: center;
}

/* run-section */
.run{
    display: flex;
    justify-content: space-between;
    width: 1060px;
height: 350px;
margin: 0 auto;
border-radius: 18px;
background: rgb(34, 34, 34);
padding:40px 50px 50px 40px;
}

.run .section-des{
    width: 443px;
    height: 72px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.run-pic{
    width: 366px;
height: 312px;
border-radius: 18px;
object-fit:none;
object-position: 65% 33%;

}

/* calculator-section */
.cal-info{
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 380px;
   
}

.calculate{
    width:100%;
    height: 430px;
    background: rgb(34, 34, 34);
    margin-top: 30px;
    display: flex;
    gap:175px;
    padding-top: 20px;
    padding-left: 200px;

}
.chart-title, .form-title{
    color:white;
    font-size: 28px;
    font-weight: 900;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  table{
    width: 310px;
    height: 216px;
  }
  th{
    color:white;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-left: 15px;
  }
  td{
    color:white;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
  }
  .form{
    width: 580px;
    height: 410px;
  }

  input[type="text"]{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
  }
  #sex{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);

  }
  #activity{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
  }
  .form input[type="text"]::placeholder, #sex, #activity{
    color:white;
    opacity: 0.6;
    padding-left: 10px;
  }
  .form input[type="text"], #sex, #activity{
    margin-bottom:5px;

  }
  form{
    height:170px;
  }











@media screen and (max-width: 576px){
    .navbar{
        flex-direction:row;
        justify-content:left;
        gap:200px;
        
    }
    .menu-bar{
        display: block;
        
    }
    .brand{
        margin-left: 20px;
    }
    .nav-links{
        display: none;
    }
    .banner{
        flex-direction: column;
      
    }
    .banner-title{
        font-size: 36px;
        line-height: 120%;
        text-align: left;
        width: 285px;
        margin-left: 20px;
    }
    .banner-des{
        width: 274px;
        height: 96px;
        margin-left: 20px;
        margin-top: 25px;
    }
    .btn-primary, .btn-secondary{
        width:160px;
        margin-top: 5px;
        height:50px;
    }
    .btn-primary{
        margin-left: 20px;
    }
    .banner-btn{
        
        width: 155px;
        height: 75px;
        position: relative;
        left: 120px;
        bottom: 170px;
        font-size: 13px;
    }
    .circle{
        height: 35px;
        width: 35px;
    }
    .video-no{
        font-size:20px;
    }
    .banner-btn2{
        width: 145px;
        height: 75px;
        margin-top: -100px;
        font-size: 14px;
    }
    .video-no2{
        font-size: 30px;
    }
    .habits{
        width:340px;
        margin-bottom: 50px;
        
    }
    .section-title{
        font-size: 2rem;
    }
    .habit-cards{
        flex-direction: column;
    }
    .card-des{
        width:230px;
        margin-left: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .run{
        flex-direction: column;
        width: 300px;
        height: 520px;
        margin-left: 20px;
        
    }
    .run-pic{
        width: 290px;
        height: 190px;
        object-fit:fill;
        
        
    }
    .run .section-des{
        width: 287px;
        height: 96px;
    }
    .run .btn-primary{
         width:280px;
         margin-left: -10px;
    }
    .cal-info{
        margin-left: 20px;
        width: 353px;
    }
    .calculate{
        flex-direction: column;
    }
   
   
}